@charset "utf-8";

div{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	text-align: center;
	vertical-align: middle;
}

div:hover{
	color: darkred;
	background-color: darkorange;
}

div > p{
	display: none;
}

div:hover > p{
	display: block;
}