@charset "utf-8";
body{
	font-family: sans-serif;
}

.bloco{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	text-align: center;
	vertical-align: middle;
	border: 2px solid black;
}

.bloco:hover{
	background-color: cornflowerblue;
	color: antiquewhite;
}

.featured:hover{
	color: darkred;
	background-color: darkorange;
}

.featured > p{
	display: none;
}

.featured:hover > p{
	display: block;
}