@charset "utf-8";

h1{
	font-family: "Georgia", serif;/*A ordem em que são digitadas as fontes definem o que vai aparecer dependendo do dispositivo*/
	color: #19647e;
	text-align: center;
	font-size: 2em;
	/* 
	Tamanho de fonte:
	Absolutos:px, pt, pc, cm, mm, in
	Relativos:em, rem
*/
}

h2{
	font-family: "Georgia", serif;
	text-align: right;
	color: #243010;
}
p{
	font-family: "Helvetica", "Arial";
	color: #243010;
	text-align: justify;
	font-size: 1em;
}

main{
	width: 80%;
	margin: auto;
	background-color: #efecca;
	padding: 30px;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
}